.App {
  text-align: center;
}

.botonDropdown{
  background-color: red !important;
  border-color: black !important;

}
.App-header-logo {
  font-family: Garamond Bold;
  font-weight: bold;
  
}
.App-header-clothes{
  font-family: DS Trade Gothic,Trade Gothic,sans-serif;
  font-weight: bold;  
  font-size: 25px;
  display: flex;
  
}

.Navbar{
  flex-direction: row;

  width: 100%;
  display: flex;
}

h2.sarasa{
 
  font-size: 25px;
}


.App-header {
  
  background-color: white;
  min-height: 50vh;
  display: flex;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
