.App {
  text-align: center;
}

.botonDropdown{
  background-color: red !important;
  border-color: black !important;

}




.App-header {
  
  background-color: white;
  min-height: 50vh;
  display: flex;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
